body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
}

#result .green {
  color: #2ecc71;
}

#result .red {
  color: #e74c3c;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
  margin: auto;
}

button#restart {
  background-color: #95ff00;
  border: 1.5px solid rgb(132, 227, 0);
  font-size: 20px;
  margin: 20px;
  padding: 8px;
  cursor: pointer;
}

#countdown {
  padding: 20px;
}

#result {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

input[type="number"] {
  color: black;
  padding: 8px;
}